#home{
  background: rgba(237, 156, 4, 0.912);
  background: linear-gradient(90deg, rgba(237, 156, 4, 0.912) 50%, rgb(234, 179, 28)100%);
  min-height: 500px;
}

/* Card */
.card {
  transition: all 0.5s ease;
}
.card:hover{
  cursor: pointer;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

.form{
  background: rgba(237, 156, 4, 0.912);
  background: linear-gradient(90deg, rgba(237, 156, 4, 0.912) 50%, rgb(223, 183, 75)100%);
  min-height: 500px;
}

.footer{
  background: rgba(34, 31, 25, 0.912);
  background: linear-gradient(90deg, rgb(184, 132, 29) 50%, rgba(98, 67, 11, 0.912)100%);
  min-height: 500px;
}